<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{url_for('static',filename='dist/output.css')}}">
  <title>About this Data</title>
</head>
<style>
  body {
      background-color: #403A55;
  }
  .text {
    color: #D5C5C8 !important;
  }
</style>
<body>
    <div class="relative h-screen bg-fixed bg-center bg-cover flex flex-col items-center justify-center text-shadow-lg overflow-hidden">
        <div class="absolute inset-0 bg-black/30 backdrop-blur-md"></div>
        {% include 'nav.html' %}
        <div class="relative z-10 text-center text">
            <p class="text-9xl">About</p>
            <p class="text-lg">Outline and Takeaways</p>
        </div>
    </div>
  <div class="flex flex-col items-center justify-center text text-center text-white py-20 w-full">
    <img src="assets/feedback.jpg" alt="Feedback">
    <ul>
      <li>This used information that was gathered by the US on housing units throughout the years from 2020 to 2024. This information is important as it provides insight into which states are densely populated and which are not, and which could be populated more.</li>
      <li>This lab aimed to analyze data regarding the number of housing units per state throughout the United States</li>
      <li>Housing Units refers to the number of housing units in a state</li>
      <li>I tried initially to use minimal colors and simple minamlistic styling to keep the viewer engaged, through striking graphs and stylized backgrounds.</li>
      <li>The prototypes revealed the importance of data visualization and indicated how focusing on aesthetics can be harmful. I learned that I should include more information and labels on my pages. In the final design, I am including a graph that would be helpful for understanding the years page.</li>
      <li>An important vocab is housing units, which is a house, an apartment, a mobile home or trailer, a group of rooms, or a single room occupied as separate living quarters, or if vacant, intended for occupancy as separate living quarters.</li>
    </ul>
  </div>
  {% include 'footer.html' %}
</body>
</html>
