<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='dist/output.css')}}">
    <title>Data Journalism</title>
    <style>
        body {
            background-color: #403A55;
            filter: saturate(50%);
        }
        .text {
            color: #D5C5C8;
        }
    </style>
</head>
<body>
    <div class="relative items-center justify-center overflow-hidden">
        

        <div class="relative z-10 text-center text justify-center flex flex-col">
            {% include 'nav.html' %}
            <div class="flex flex-col top-20px">
                <p text="text-9xl">Data Journalism: Housing Units in the USA</p>
                <div class="flex flex-col justify-center items-center text-center text" id="line_graph_all">
                    <p class="text-8xl">Housing Units in the United States</p>
                    {% include 'line_graph.html' %}
                </div>
                <div class="flex flex-col justify-center items-center text-center text">
                    <p class="text-6xl">Take Aways</p>
                    <p class="text-xl">If I did this again, I would focus less on the CSS of one page, so I could have made every page look better.</p>
                    <p class="text-xl">I would have liked to add more information and used more contrastive colors, so the page could be more understandable.</p>
                    <p class="text-xl">I would have added more dynamic text, so the information could be presented more precisely.</p>
                    <p class="text-6xl">Interpretations</p>
                    <p class="text-xl">The middle region of the United States has little housing units compared to the coasts.</p>
                    <p class="text-xl">The number of houses has been consistently increasing, indicating more people want houses.</p>
                    <p class="text-xl">The dataset is not as insightful, as I hoped. This is because states like Texas clearly have more houses due to its much larger land mass.</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>