<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='dist/output.css')}}">
    <title>Data Journalism</title>
    <style>
        body {
            background-color: #403A55;
            filter: saturate(50%);
        }
        .text {
            color: #D5C5C8 !important;
        }
    </style>
</head>
<body class="bg-[#2d2b74] bg-center flex flex-col items-center justify-center">
    {% include 'nav.html' %}
    <p class="text text-8xl">Year - {{year}}</p>

    <div id="USA" >
        {% include 'USA.html' %}
    </div>

    <p class="text">The state with the highest population is {{max_key}} with {{max_val}} housing units.</p>
    <p class="text">{{max_key}} was {{max_percent}}% of the {{us}} total number of housing units in the United States.</p>
    <p class="text">The state with the lowest population is {{min_key}} with {{min_val}} housing units.</p>
    <p class="text">{{min_key}} was {{min_percent}}% of the {{us}} total number of housing units in the United States.</p>
    <p class="text">The Average Housing Units per State was {{avg}} housing units.</p>

</body>
<footer>{% include 'footer.html' %}</footer>
</html>
