<html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='dist/output.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@0;1&display=swap" rel="stylesheet">
</head>
<body class="bg-[#2d2b74]">
    {% include 'nav.html' %}

  <h1>Year - {{year}}</h1>

    <div id="USA" >
        {% include 'USA.svg' %}
    </div>

    <h1>Information regarding this specific year</h1>
    <h2>Graph describing the hue of each value in the map.</h2>
</body>
</html>
